@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  min-height: 100%;
  background: rgb(255 255 255);
  color: rgb(17 24 39);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  background: rgb(4 7 20);
  color: rgb(243 244 246);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.2;
}

::selection {
  background: rgb(209 213 219);
  color: white;
}

.dark ::selection {
  background: rgb(55 65 81);
}

